a {
    text-decoration: none;
}

/*header*/
header {
    background-color: #ff5;
    margin: -0.5em -0.5em 0 -0.5em;
    box-shadow: 0 0.5125em 0.725em 0 rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
}

header img:first-of-type {
    max-height: 4em;
    margin: 0.5em 0.5em 0.5em 1em;
}

h1 {
    font-family: nexa light;
    color: #00D66C;
    margin: 0.6em 0.5em 0.5em 0
}

header div {
    display: flex;
}
