a {
    color: #fff;
    text-decoration: none;
}

/*header*/
header {
    box-shadow: 0 0.5125em 0.725em 0 rgba(0, 0, 0, .15);
    margin: 0 -19em 0 -0.5em;
    display: grid;
    grid-template-columns: 40% 58%;
}

header img:first-of-type {
    margin: 1.5em 0 1em 1em;
    max-height: 4.5em;
}

header h1 {
    color: #00D66C;
    font-family: nexa;
    max-height: 1em;
}

header div {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    justify-content: space-between;
}

/*zoek form*/
#search form {
    background-image: url(../Images/spring-break-banner.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1em -19em 0 -0.5em;
}

nav#search form p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav#search label[for=question] {
    color: #00d66c;
    font-family: nexa;
    font-size: 4.25em;
    font-weight: 500;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
}

nav input[type=text] {
    border: 1px solid;
    border-radius: 1em;
    margin-top: auto;
    padding: 1em 1em;
}

nav input[placeholder] {
    font-family: nexa light;
    font-size: 2em;
    padding: 1em 9em 1em 9em;
    text-align: center;
}

nav#search form button {
    background-color: #ff3268;
    border-radius: 1.5em;
    border-style: none;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    color: #fff;
    font-family: nexa;
    font-size: 2.5em;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 0.7em 4em 0.7em 4em;
}

/*Navigatie*/
ul {
    border-bottom-color: #F8F7F7;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: -1em -19em 0 -0.5em;
}

li a {
    color: #00d66c;
    padding: 0.9em 0 1em 0;
    font-family: nexa;
    font-size: 2.5em;
}

/*top verhalen*/
#stories section:first-of-type {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: -0.5em -19em 0 -1em;
    background-color: #00D66C;
    padding-bottom: 5em;
}

#stories section:first-of-type > h3 {
    margin: 0.4em 0 0.5em 0;
    font-size: 4em;
    grid-column: 1/4;
    font-family: nexa;
    color: white;
    text-align: center;
}

#stories section:first-of-type img {
    max-width: 40%;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
}

#stories section:first-of-type img:nth-of-type(2) {
    max-width: 50%;
}

/*Sorteren*/
#stories > nav {
    background-color: #F4E6D8;
    margin: 0 -19em 1em -0.5em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2em 0 2em 0;
    justify-content: center;
}

#stories nav > h3 {
    font-family: nexa;
    font-size: 4em;
    margin: auto 0 0.5em 1em;
    grid-column: 1/4;
    justify-self: start;
}

#stories nav button,
#stories nav form input[value] {
    padding: 1em 4em 1em 4em;
    border-radius: 4em;
    background-color: #00D66C;
    font-size: 2em;
    box-shadow: inset 0 -0.1875em 0.0625em #10874c;
    border-style: none;
    color: #fff;
    font-family: nexa;
    justify-self: center;
    margin: 0 -1.5em 0 1em;
    margin-bottom: 0.5em;
}

/* index/aanbevolen vormgeving */
#stories section:last-of-type,
#gevoel,
#blij,
#categories,
    {
    margin: -0.5em -19em 5em 1em;
    display: grid;
    justify-content: center;
    grid-row-gap: 5em;
    padding-top: 3em;
}

#gevoel h2,
#blij h2,
#categories h2 {
    font-family: nexa;
    text-align: center;
    color: #00d66c;
    font-size: 5em;
    margin: auto;
}

#stories section:last-of-type h3,
#gevoel h3,
#blij h3,
#categories h3,
    {
    color: #2c2f86;
    font-size: 3.6em;
    text-align: center;
    font-family: nexa;
    margin: 0.5em 0 0.5em 0;
}

#stories section:last-of-type article,
#gevoel article,
#blij article,
    {
    background-color: #fff;
    border: 0.1em solid darkgray;
    border-radius: 1em;
    align-self: center;
}

#stories section:last-of-type p,
#gevoel p,
#blij p,
    {
    text-align: center;
    font-family: nexa light;
    margin: 0 0 0.5em 0;
    font-size: 3.6em;
}

#stories section:last-of-type img,
#gevoel img,
#blij img,
    {
    max-width: 100%;
    border-radius: 1em 1em 0 0;
}

/*Categorieën vormgeving*/
#categories article {
    border: 0.1em solid darkgray;
    background-color: #00d66c;
    border-radius: 1em;
}

#categories h3 {
    padding: 0.5em;
    color: #fff;
}

#categories {
    background-color: #F4E6D8;
    margin-left: -1em;
    margin-bottom: auto;
    padding-bottom: 6em;
}


/*Alzheimer detailpagina*/
#detail section:first-of-type {
    margin: -0.5em -19em 0 -0.5em;
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
}

#detail section:first-of-type img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#detail section:first-of-type h2 {
    font-family: nexa;
    color: #00D66C;
    font-size: 4em;
    grid-column: 2/4;
    grid-row: 1/1;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#detail section:first-of-type input {
    font-family: nexa;
    border-radius: 1em;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-style: none;
    color: #fff;
    margin: auto;
    font-size: 3em;
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 1em;
}

/*Verhalen zoals...*/
#detail section:last-of-type {
    background-color: #00D66C;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1em;
    margin: -0.5em -19em 0em -0.5em;
}

#detail section:last-of-type h3 {
    grid-column: 1/6;
    font-family: nexa;
    color: #2c2f86;
    font-size: 3.5em;
    margin: 0.5em 0 0.5em 0.5em;
    justify-self: start;
}

#detail section:last-of-type img {
    align-self: center;
    width: 80%;
    margin: 0 0 3em 2em;
}

/*Alzheimer pagina*/
#verhaal {
    margin-right: -19em;
}

#verhaal section:first-child {
    background-color: #00D66C;
    margin-left: -0.5em;
    padding: 2em;
}

#verhaal section:first-child h3,
#verhaal section:first-child p {
    font-family: nexa;
}

#verhaal section:first-child h3 {
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0 0 0;
    color: #fff;
}

#verhaal section:last-child {
    background: radial-gradient(circle, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(79, 84, 85, 1) 100%);
    margin-left: -0.5em;
}

#desktop {
    visibility: hidden;
    max-width: 100%;
    margin-bottom: -40em;
}

#mobiel {
    width: 100%;
    margin-top: -3em;
    display: block;
}

#login,
#dwnl,
#faves,
#ges {
    background-color: #F4E6D8;
    margin: 0 -19em 0 -0.5em;
    padding-top: 5em;
    padding-bottom: 53.5em;
}

#login h3,
#dwnl h2,
#faves h2,
#ges h2 {
    color: #2c2f86;
    font-family: nexa;
    text-align: center;
    font-size: 3.6em;
    margin-top: -1em;
}

#login form,
#dwnl form,
#faves form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dwnl h3,
#faves h3 {
    text-align: center;
    font-family: nexa;
    font-size: 4em;
    margin-bottom: auto;
}

#dwnl p,
#faves p {
    text-align: center;
    font-size: 2.5em;
    font-family: nexa;
    margin-top: auto;
}

#login input,
#dwnl input,
#faves input {
    background-color: #00D66C;
    border-radius: 1.5em;
    border-style: none;
    box-shadow: inset 0 -0.1875em 0.0625em #0e104c;
    color: #fff;
    font-family: nexa;
    font-size: 2.5em;
    margin-top: 1em;
    padding: 0.7em 4em 0.7em 4em;
}


/*Inlog pagina*/
#inloggen {
    background-color: #00D66C;
    margin: 0 -19em 0 -0.5em;
}

#inloggen form {
    display: flex;
    justify-content: center;
}

#inloggen form:first-child fieldset {
    display: flex;
    padding: 5em;
    margin: 5em 0 5em 0;
    background-color: white;
    border-radius: 1em;
}

#inloggen form:last-child fieldset {
    background-color: #f5f8fa;
    display: flex;
    position: relative;
    padding: 5em;
    margin-bottom: 10em;
    border-radius: 1em;
}

#inloggen legend {
    position: absolute;
    font-family: nexa;
    color: #2800a0;
    font-size: 3.5em;
    font-weight: 500;
}

#inloggen label {
    padding: 1em 0 0.5em 0;
    font-family: nexa;
    font-size: 3em;
    font-weight: 500;
}

#inloggen label:first-of-type {
    padding-top: 3em;
}

#inloggen input,
#inloggen input {
    font-size: 3.5em;
    border-radius: 0.20em;
    font-family: nexa;
    padding: 0.5em;
    transition: 0.2s;
    z-index: 2;
}

#inloggen button {
    font-family: nexa;
    border-radius: 1.5em;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-style: none;
    color: #fff;
    margin: 1em 0 0.5em 0.2em;
    font-size: 3em;
    padding: 0.7em 2em 0.7em 2em;
}

/*Footer/social media*/
footer {
    background-color: #f7f7f7;
    margin: -0.5em -19em 0 -1em;
}

footer h4 {
    color: #2c2f86;
    font-family: nexa;
    text-align: center;
    font-size: 3.5em;
    margin: auto;
    padding: 0.5em;
}

footer img {
    max-height: 12em;
    display: block;
    margin: auto;
}

/*TABLET */
@media (min-width: 48em) {

    header {
        background-color: blue;
    }
}

/*DESKTOP */
@media (min-width: 64em) {

    header {
        background-color: red;
    }
}
