a {
    color: #fff;
    text-decoration: none;
}

/*header*/
header {
    box-shadow: 0 0.5125em 0.725em 0 rgba(0, 0, 0, .15);
    margin: 0 -19em 0 -0.5em;
    display: grid;
    grid-template-columns: 40% 58%;
}

header img:first-of-type {
    margin: 1.5em 0 1em 1em;
    max-height: 4.5em;
}

header h1 {
    color: #00D66C;
    font-family: nexa;
    max-height: 1em;
    transition: 0.2s ease-in-out;
}

header h1:hover {
    color: #2c2f86;
}

header div {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    justify-content: space-between;
}

/*zoek form*/
#search form {
    background-image: url(../Images/spring-break-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1em -19em 0 -0.5em;
}

#search form p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search label[for=question] {
    color: #00d66c;
    font-family: nexa;
    font-size: 4.25em;
    font-weight: 500;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
}

nav input[type=text] {
    border: 1px solid;
    border-radius: 1em;
    margin-top: auto;
    padding: 1em 1em;
}

nav input[placeholder] {
    font-family: nexa light;
    font-size: 2em;
    padding: 1em 9em 1em 9em;
    text-align: center;
}

#search form button {
    background-color: #ff3268;
    border-radius: 1.5em;
    border-style: none;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    color: #fff;
    font-family: nexa;
    font-size: 2.5em;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 0.7em 4em 0.7em 4em;
    transition: 0.3s ease-in-out;
}

#search form button:hover {
    background-color: #ff6d94;
}

#search form button:active {
    box-shadow: none;
    transition: 1s;
}

/*Navigatie*/
ul {
    border-bottom-color: #F8F7F7;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: -1em -19em 0 -0.5em;
}

li a {
    color: #00d66c;
    padding: 0.9em 0 1em 0;
    font-family: nexa;
    font-size: 2.5em;
    transition: 0.2s ease-in-out;
}

li:last-of-type a {
    color: #00d66c;
}

li:first-of-type a {
    color: #2c2f86;
}

li a:hover {
    color: #2c2f86;
}

/*top verhalen*/
#stories section:first-of-type {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: -0.5em -19em 0 -1em;
    background-color: #00D66C;
    padding-bottom: 5em;
}

#stories section:first-of-type > h3 {
    margin: 0.4em 0 0.5em 0;
    font-size: 4em;
    grid-column: 1/4;
    font-family: nexa;
    color: white;
    text-align: center;
}

#stories section:first-of-type img {
    max-width: 80%;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
}

#stories section:first-of-type img:nth-of-type(2) {
    max-width: 90%;
}

/*Sorteren*/
#stories > nav {
    background-color: #F4E6D8;
    margin: 0 -19em 1em -0.5em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2em 0 2em 0;
    justify-content: center;
}

#stories nav > h3 {
    font-family: nexa;
    font-size: 4em;
    margin: auto 0 0.5em 1em;
    grid-column: 1/4;
    justify-self: start;
}

#stories nav button,
nav form input[value] {
    padding: 1em 4em 1em 4em;
    border-radius: 4em;
    font-size: 2em;
    background-color: #00D66C;
    box-shadow: inset 0 -0.1875em 0.0625em #10874c;
    border-style: none;
    color: #fff;
    font-family: nexa;
    justify-self: center;
    margin: 0 -1.5em 0 0.5em;
    margin-bottom: 0.5em;
    transition: 0.2s ease-in-out;
}

nav form:first-of-type input[value] {
    background-color: #51efa1;
    box-shadow: none;
}

#stories nav button:hover,
nav form input[value]:hover {
    background-color: #51efa1;
}

nav form:last-of-type input[value]:active {
    box-shadow: none;
    transition: 1s;
}

/*Opkomend*/
#opkomend form:first-of-type input[value]:active {
    box-shadow: none;
    transition: 1s;
}

#opkomend form:first-of-type input[value],
#opkomend button {
    background-color: #00D66C;
    box-shadow: inset 0 -0.1875em 0.0625em #10874c;
}

#stories #opkomend form:last-of-type input[value] {
    background-color: #51efa1;
    box-shadow: none;
}

/* index/aanbevolen vormgeving */
#blij h2,
#categories h2,
#levensfase h2 {
    font-family: nexa;
    color: #00d66c;
    font-size: 5em;
    text-align: center;
    padding-top: 0.5em;
}

#blij h2,
#levensfase h2 {
    margin-top: auto;
}

#stories section:last-of-type,
#blij,
#levensfase {
    display: inline-block;
    padding-top: 3em;
    margin-bottom: 5em;
    margin-right: -14em;
    margin-left: 14em;
}

#stories section:last-of-type article,
#blij article,
#categories article,
#levensfase article,
#opgeslagen article {
    border: 0.1em solid darkgray;
    border-radius: 1em;
    background-color: #fff;
    margin-bottom: 3em;
}

#stories section:last-of-type img,
#blij img,
#levensfase img,
#opgeslagen img {
    max-width: 100%;
    border-radius: 1em 1em 0 0;
    margin-bottom: 2em;
    transition: 0.3s ease-in-out;
}

#stories section:last-of-type img:hover,
#blij img:hover,
#levensfase img:hover,
#opgeslagen img:hover {
    opacity: 0.9;
}

#stories section:last-of-type h3,
#blij h3,
#categories h3,
#levensfase h3,
#opgeslagen h3 {
    font-family: nexa;
    color: #2c2f86;
    font-size: 3.6em;
    text-align: center;
}

#stories section:last-of-type p,
#blij p,
#blij p,
#levensfase p,
#opgeslagen p {
    font-family: nexa light;
    font-size: 3.6em;
    text-align: center;
    margin: 0 0 0.5em 0;
}

/*Levensfase*/
#levensfase h3 {
    margin-top: auto;
}

/*Categorieën vormgeving*/
#locatie li:last-of-type a {
    color: #2c2f86;
}

#locatie li:first-of-type a {
    color: #00d66c;
}

#categories {
    background-color: #F4E6D8;
    padding-bottom: 6em;
    margin-top: -4em;
    margin-right: -19em;
    margin-left: -1em;
}

#categories article {
    background-color: #00d66c;
    margin: 3em;
    transition: 0.2s ease-in-out;
}

#categories article:hover {
    background-color: #39e590;
}

#categories h3 {
    color: #fff;
}

/*Alzheimer detailpagina*/
#notification {
    max-width: 4%;
    padding-left: 5.3em;
    margin-top: auto;
    position: absolute;
    transition: 0.2s ease;
    visibility: hidden;
}

#detail section:first-of-type {
    background-color: #F4E6D8;
    margin: -1em -19em 0 -0.5em;
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
}

#detail section:first-of-type img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 2em;
}
#detail section:first-of-type img:hover {
    opacity: 0.9;
}

#detail section:first-of-type h2 {
    font-family: nexa;
    color: #00D66C;
    font-size: 4em;
    grid-column: 2/4;
    grid-row: 1/1;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#detail section:first-of-type input {
    font-family: nexa;
    border-radius: 1em;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-style: none;
    color: #fff;
    margin: auto;
    margin-top: 1em;
    font-size: 3em;
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 1em;
}

#detail section:first-of-type input:hover {
    background-color: #ff6d94;
    transition: 0.3s ease-in-out;
}

#detail section:first-of-type input:active {
    box-shadow: none;
    transition: 1s;
}

/*Verhalen zoals...*/
#detail section:last-of-type {
    background-color: #00D66C;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1em;
    margin: -0.5em -19em 0em -0.5em;
}

#detail section:last-of-type h3 {
    grid-column: 1/6;
    font-family: nexa;
    color: #2c2f86;
    font-size: 3.5em;
    margin: 0.5em 0 0.5em 0.5em;
    justify-self: start;
}

#detail section:last-of-type img {
    align-self: center;
    width: 80%;
    margin: 0 0 3em 2em;
}

/*Alzheimer pagina*/
#verhaal {
    margin-right: -19em;
}

#verhaal section:first-child {
    background-color: #00D66C;
    margin-left: -0.5em;
    padding: 2em;
}

#verhaal section:first-child h3,
#verhaal section:first-child p {
    font-family: nexa;
}

#verhaal section:first-child h3 {
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0 0 0;
    color: #fff;
}

#verhaal section:last-child {
    background: radial-gradient(circle, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(79, 84, 85, 1) 100%);
    margin-left: -0.5em;
}

#desktop {
    visibility: hidden;
    max-width: 100%;
    margin-bottom: -40em;
}

#mobiel {
    width: 100%;
    margin-top: -3em;
    display: block;
}

/*Favorieten lijst*/
#opgeslagen {
    display: grid;
    justify-content: center;
}

#opgeslagen h3 {
    margin-top: auto;
}

#opgeslagen p {
    margin-top: -0.5em;
    margin-bottom: 1em;
}

/*Inloggen vormgeving*/
#login,
#dwnl,
#faves,
#ges,
#opgeslagen {
    background-color: #F4E6D8;
    margin: -1em -19em 0 -0.5em;
    padding-top: 5em;
    padding-bottom: 63em;
}

#ges {
    padding-bottom: 73em;
}

#login h3,
#dwnl h2,
#faves h2,
#ges h2,
#opgeslagen h2 {
    color: #2c2f86;
    font-family: nexa;
    text-align: center;
    font-size: 3.6em;
    margin-top: auto;
}

#login form,
#dwnl form,
#faves form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dwnl h3,
#faves h3 {
    text-align: center;
    font-family: nexa;
    font-size: 4em;
    margin-bottom: auto;
}

#dwnl p,
#faves p {
    text-align: center;
    font-size: 2.5em;
    font-family: nexa;
    margin-top: auto;
}

#login input,
#dwnl input,
#faves input {
    background-color: #00D66C;
    border-radius: 1.5em;
    border-style: none;
    box-shadow: inset 0 -0.1875em 0.0625em #0e104c;
    color: #fff;
    font-family: nexa;
    font-size: 2.5em;
    margin-top: 1em;
    padding: 0.7em 4em 0.7em 4em;
}

#login input:active,
#dwnl input:active,
#faves input:active {
    box-shadow: none;
    transition: 1s;
}

#login input:hover,
#dwnl input:hover,
#faves input:hover {
    background-color: #51efa1;
    transition: 0.2s ease-in-out;
}

/*Inlog pagina*/
#inloggen {
    background-color: #00D66C;
    margin: -1em -19em 0 -0.5em;
    display: flex;
    flex-direction: column;
}

#inloggen form {
    max-width: 100%;
    align-self: center;
}

#inloggen form:first-child fieldset {
    display: flex;
    padding: 5em;
    margin: 5em 0 5em 0;
    background-color: white;
    border-radius: 1em;
}

#inloggen form:last-child fieldset {
    background-color: #f5f8fa;
    display: flex;
    position: relative;
    padding: 5em;
    margin-bottom: 10em;
    border-radius: 1em;
}

#inloggen legend {
    position: absolute;
    font-family: nexa;
    color: #2800a0;
    font-size: 3.5em;
    font-weight: 500;
}

#inloggen label {
    padding: 1em 0 0.5em 0;
    font-family: nexa;
    font-size: 3em;
    font-weight: 500;
}

#inloggen label:first-of-type {
    padding-top: 3em;
}

#inloggen input,
#inloggen input {
    font-size: 3.5em;
    border-radius: 0.20em;
    font-family: nexa;
    padding: 0.5em;
    transition: 0.2s;
    z-index: 2;
}

#inloggen button {
    font-family: nexa;
    border-radius: 1.5em;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-style: none;
    color: #fff;
    margin: 1em 0 0.5em 0.2em;
    font-size: 3em;
    padding: 0.7em 2em 0.7em 2em;
    transition: 0.1s ease-in-out;
}

#inloggen button:hover {
    background-color: #ff6d94;
}

/*Footer/social media*/
footer {
    background-color: #f7f7f7;
    margin: -0.5em -19em 0 -1em;
}

footer h4 {
    color: #2c2f86;
    font-family: nexa;
    text-align: center;
    font-size: 3.5em;
    margin: auto;
    padding: 0.5em;
}

footer img {
    max-height: 12em;
    display: block;
    margin: auto;
}

/*TABLET */
@media (min-device-width: 48em) {
    #stories section:last-of-type,
    #levensfase,
    #blij, #categories {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-around;
        grid-gap: 1em;
        margin-left: 5em;
    }

    #blij h2,
    #levensfase h2, #categories h2 {
        margin-top: auto;
        font-size: 3em;
        grid-column: 1/3;
    }
}

/*DESKTOP*/
@media (min-width: 64em) {
    header {
        margin-right: -0.5em;
        margin-bottom: -2em;
    }

    header img:first-of-type {
        margin-top: 1em;
        max-width: 40%
    }

    h1 {
        margin-top: 0.2em;
        font-size: 1.5em;
    }

    /*zoek form*/
    #search form {
        margin-right: -0.5em;
    }

    nav#search label[for=question] {
        font-size: 2.5em;
    }

    nav input[placeholder] {
        font-size: 1.2em;
        padding: 1em 9em 1em 9em;
    }

    nav#search form button {
        font-size: 1.2em;
    }

    /*Navigatie*/
    ul {
        margin-right: -0.5em;
        margin-top: -1.5em;
    }

    li a {
        font-size: 1.3em;
    }

    /*top verhalen*/
    #stories section:first-of-type {
        margin: 0 -0.3em 1em -1em;
    }

    #stories section:first-of-type > h3 {
        font-size: 2em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }

    #stories section:first-of-type img {
        max-width: 60%;
        transition: 0.2s ease-in-out;
    }

    #stories section:first-of-type img:hover,
    #stories section:first-of-type img:nth-of-type(2):hover {
        max-width: 60%;
        transform: scale(1.2)
    }

    #stories section:first-of-type img:nth-of-type(2) {
        max-width: 60%;
    }

    /*Sorteren*/
    #stories > nav {
        margin: -1.0em -0.398em 1em -0.5em;
        padding-bottom: 1em;
    }

    #stories nav > h3 {
        padding-left: 1em;
        font-size: 2em;
        margin-left: 2em;
        margin-bottom: auto;
    }

    #stories nav button,
    #stories nav form input[value] {
        font-size: 1em;
        margin: 1em 5em;
    }

    /* index/aanbevolen vormgeving */
    #blij h2,
    #levensfase h2, #categories h2 {
        margin-top: auto;
        font-size: 3em;
        grid-column: 1/4;
    }

    #categories  {
        margin-top: auto;
    }

    #stories section:last-of-type,
    #levensfase,
    #blij, #categories {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-right: -0.5em;
        margin-left: auto;
    }

    #stories section:last-of-type h3,
    #levensfase h3,
    #blij h3, #categories h3, #opgeslagen h3 {
        font-size: 1.6em;
        margin-top: auto;
    }

    #stories section:last-of-type article,
    #levensfase article,
    #blij article, #opgeslagen article {
        border: 0.1em solid darkgray;
        border-radius: 1em;
    }

    #stories section:last-of-type p,
    #levensfase p,
    #blij p, #opgeslagen p {
        font-size: 1.6em;
    }

    #stories section:last-of-type img,
    #levensfase img,
    #blij img, #opgeslagen img {
        max-width: 100%;
        border-radius: 1em 1em 0 0;
    }

    /*Categorieën vormgeving*/
    #categories article {
        padding-left: 5em;
        padding-right: 5em;
        margin: 1em;
    }

    #categories h3 {
        padding: 0.5em;
        margin-top:  1em;
    }

    #categories {
        margin-left: -1em;
    }

    /*Alzheimer detailpagina*/
    #notification {
        max-width: 2%;
        padding-left: 4.5em;
        margin-top: -0.5em;
    }

    #detail section:first-of-type {
        margin-right: -0.5em;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20%;
    }

    #detail section:first-of-type a:nth-child(2) {
        max-width: 70%;
        margin-top: 3em;
        border-radius: 1em;
        margin-left: 2em;
    }

    #detail section:first-of-type h2 {
        margin-top: 1em;
        margin-left: -3em;
    }

    #detail section:first-of-type input {
        margin-top: 4em;
        font-size: 2.5em;
        margin-left: 4em;
    }

    #detail section:first-of-type a:nth-child(4) {
        margin-top: 12em;
        grid-column: 2/2;
        max-width: 70%
}

    /*Verhalen zoals...*/
    #detail section:last-of-type {
        margin-right: -0.5em;
    }

    #detail section:last-of-type h3 {
        font-size: 2em;
    }

    #detail section:last-of-type img {
        width: 50%;
    }

    /*Alzheimer pagina*/
    #verhaal section:first-child {
        margin-top: 1.5em;
    }

    #verhaal section:first-child p {
        margin: auto;
        font-size: 1.5em;
        padding: 0.4em;
    }

    #verhaal {
        margin-right: -0.5em;
    }

    #mobiel {
        visibility: hidden;
        width: 40%;
    }

    #desktop {
        visibility: visible;
        cursor: pointer;
        width: 40%;
        margin-left: 35em;
    }

    /*Favorieten lijst*/
    #opgeslagen article {
        max-width: 70%;
        margin: auto;
    }

    /*Inloggen vormgeving*/
    #login,
    #dwnl,
    #faves,
    #ges, #opgeslagen {
        margin-right: -0.5em;
    }

    #login h3,
    #dwnl h2,
    #faves h2,
    #ges h2 {
        font-size: 2.6em;
    }

    #dwnl h3,
    #faves h3 {
        font-size: 2em;
    }

    #dwnl p,
    #faves p {
        font-size: 1.5em;
    }

    #login input,
    #dwnl input,
    #faves input {
        font-size: 1.5em;
    }

    /*Inlog pagina*/
    #inloggen {
        margin-right: -0.5em;
        flex-direction:row;
        justify-content: center;
    }

    #inloggen form {
        margin-top: 3em;
    }

    #inloggen legend {
        font-size: 2.5em;
    }

    #inloggen label {
        font-size: 2.5em;
    }

    #inloggen input,
    #inloggen input {
        font-size: 2em;
    }

    #inloggen button {
        font-size: 2em;
    }

    /*Footer/social media*/
    footer {
        margin-right: -0.5em;
    }

    footer h4 {
        font-size: 2.5em;
    }

    footer img {
        max-height: 10em;
    }
}
